{% extends 'layout.html' %}
{% block content %}


{% for card in cards %}
	<div class="card" style="width: 50%; background-color: aqua; padding: 5px 0px 0px 0px; margin: auto;">
		<div style="display: inline-block;">
			<img src="/static/images/card_{{card.card}}.jpg" height="150px" width="250px">
		</div>
		<div style="display: inline-block;">
				<p><b>Nume card:</b> {{card.nume}}</p>
				<p><b>Numar card:</b> {{card.cifre_card}}</p>
				<p><b>Valid pana la:</b> {{card.valid_date}}</p>
				<p><b>Sold:</b> {{card.valoare}}</p>
				<p><b>CVV:</b> {{card.cvv}}</p>
		</div>
	</div>
	<br>

{% endfor %}


{% endblock %}





{% block static_files %}
{% endblock %}
