{% extends 'layout.html' %}



{% block content %}
		<div class="container-fluid align_middle">
			<div class="row  d-flex justify-content-center" id="list_of_accounts">
        {% for card in cards %}
          <div class="col-md-4 col-sm-6">
            <div class="card" onclick= "window.location.href= '/card/{{card.iban}}'">
              <div class="card_img">
                <img src="/static/images/card_{{card.card}}.jpg">
              </div>
              <div class="card_details">
                  <p>{{card.nume}}</p>
                  <p>{{card.cifre_card}}</p>
                  <p>{{card.valid_date}}</p>
                  <p>{{card.sold}} lei</p>
              </div>
            </div>
          </div>
        {% endfor %}
        <div class="col-md-3 col-sm-6">
          <div class="add_account text-center" onclick="add_account()">
            <p>+</p>
          </div>
        </div>

        <div class="card_info" id="card_info">
          <span class="closeButton"> &times; </span>
          <div class="information">

            <form action="{{ url_for('handle_data') }}" method="post" >
              <div class="form-group">
                <label for="name">Account Name: </label>
                <input type="text" class="form-control" id="name" name="name">
              </div>
              <div class="form-group">
                <label for="iban">IBAN: </label>
                <input type="text" class="form-control" id="iban"name="iban">
              </div>
              <div class="form-group">
                <label for="bank">Bank Name: </label>
                <input type="text" class="form-control" id="bank"name="bank">
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
		</div>

{% endblock %}



{% block static_files %}

  <!-- aici bagam JS, CSS, ETC -->

  <!--JS, Popper.js, and jQuery-->
  <script type="text/javascript" src="/static/js/add_account.js">

  </script>
{% endblock %}
