{% extends 'layout.html' %}

{% block content %}
<main style="background-color: white;">
    <ul class="nav nav-pills nav-fill" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="area1-tab" href="#area1" data-toggle="tab" aria-controls="area1" aria-selected="true"><span class="icon_xs"><img src="/static/images/good_practices_savings.svg" alt="..."></span>Good practices in economii:</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="area2-tab" href="#area2" data-toggle="tab" aria-controls="area2" aria-selected="false"><span class="icon_xs"><img src="/static/images/buget.svg" alt="..."></span>Buget</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="area3-tab" href="#area3" data-toggle="tab" aria-controls="area3" aria-selected="false"><span class="icon_xs"><img src="/static/images/tabieturi.svg" alt="..."></span>Tabieturi salvatoare</a>
        </li>
    </ul>
    <div class="tab-content" id="learn-content">
      <div class="tab-pane fade show active" id="area1" role="tabpanel" aria-labelledby="home-tab">
        <div class="container">
          <p>
            <h2>Prima dată...pune deoparte 10%:</h2>
            Când e vorba de cheltuieli, este important să ne punem pe noi înaintea facturilor sau cheltuielilor de fiecare zi. De aceea, în ziua de salariu, plătește-te pe tine primul. Astfel, vei deveni în mod oficial o persoană care economisește.
          </p>
          <p>
            <h2>Regula de 48 de ore </h2>
            Cheltuielile fac parte din viața noastră, nu le putem evita. Pentru a cheltui conștient însă, propune-ți ca pentru achizițiile mai mari de 100 de lei să-ți dai un timp de gândire de 48 de ore. Uneori, după două zile nici nu mai merită efortul să mergi după acel obiect. Poți seta suma la 200 de lei sau chiar 50 de lei. Această regulă este deseori utilizată de cupluri atunci când planifică să facă achiziții pentru casă.
          </p>
          <p>
            <h2>Automatizează plățile lunare</h2>
            Setează-ți serviciul de direct debit, pentru a-ți achita facturile automat. Poți alege și automatizarea transferurilor în conturile de economii. Când banii ajung acolo unde trebuie înainte de a-i vedea în cont, ai mai puține șanse să-i cheltui. Deschide un cont separat de economii, pentru a-l putea accesa mai greu decât contul curent.
          </p>
          <p>
            <h2>Economisește până te doare</h2>
            Am tot zis, economiile mari încep cu bancnote mici. Dacă simți că trăiești de la salariu la altul, iar experimentul din ultimele săptămâni ți se pare dificil de replicat în următoarea perioadă, fă economii mici. Transferă în fiecare săptămână în contul de economii câte 5 lei. Mai puțin decât cafelele săptămânale. Vei fi surprins să observi că nu-ți lipsește deloc această sumă mică. În acest caz, dublează suma după câteva săptămâni și continuă să faci până când simți lipsa banilor din portofel.
          </p>
          <p>
            <h2>Investiții sănătoase</h2>
            Când la final de lună rămâi cu bani în plus, poți profita de ei pentru a-i înmulți. O variantă ar fi să investești în diverse instrumente cu venit fix – depozite, obligațiuni, titluri de stat. Sau aderă la un fond de pensie facultativă, să te bucuri ulterior de timpul petrecut alături de nepoți. Această investiție presupune o contribuție lunară modică într-un fond care va investi banii în vederea fructificării lor până la vârsta de pensionare. Întreabă banca ta ce opțiuni îți poate oferi și analizează cele mai potrivite soluții de investiții pentru tine.
          </p>
        </div>
      </div>
      <div class="tab-pane fade" id="area2" role="tabpanel" aria-labelledby="profile-tab">
        <div class="container">
          <p>
            <h2>Lucrurile de bază:</h2>
            Scopul acestui exercițiu este să avem o viață financiară echilibrată. Prin urmare, cele 50% din venit trebuie folosite pentru lucrurile care să-ți ofere o viață decentă: casă, mâncare (alimente, nu ieșiri în oraș), utilități (încălzire, apă, electricitate) și transportul spre și/de la muncă.
          </p>
          <p>
            <h2>Nutriționiștii financiari recomandă:</h2>

            30% din bugetul nostru lunar să fie alocat locuinței – rată sau chirie
            5% – alocate pentru utilități
            10% – pentru mâncare
            5% – transport
            Dacă bugetul tău nu se încadrează în acești parametri, ajustează-ți unele obiceiuri. De exemplu, înlocuiește becurile cu unele economice; stinge becul când ieși dintr-o cameră; fă-ți o listă de cumpărături și ține-te de ea; alege să cumperi brandurile generice din magazine; cumpără doar cât vei consuma; cumpără-ți un abonament lunar pentru transportul public sau împarte cu un vecin sau un coleg cheltuielile de benzină etc.
            Viitorul tău
            Când îți asumi să economisești 20% din venit, faci un pas important pentru sănătatea ta financiară. Investițiile în viitorul tău financiar sunt precum vitaminele de care are nevoie organismul tău pentru a-și întări imunitatea.

            Economiile regulate te ajută să-ți îndeplinești planurile de viitor. Acestea diferă pentru fiecare persoană în parte și pot fi flexibile, de aceea e bine să le revizuiești la fiecare 6 sau 12 luni.
          </p>
          <p>
            <h2>Câteva obiective comune tuturor:</h2>

            Crearea unui fond de urgență
            Investiția într-un fond de pensii private
            Achitarea datoriilor
            Cumpărarea unei noi locuințe sau a unui automobil
            Economii pentru educația copiilor
            Dezvoltarea unei afaceri sau înscrierea la un curs de MBA Un fond pentru vacanță sau alte achiziții majore
            Pentru a fi eficiente, stabilește-ți obiective specifice. În loc de „economii pentru casă”, propune-ți „să economisesc 10,000 euro pentru avansul minim de casă”. Lângă obiectiv, notează-ți și perioada de economisire – 2, 3 sau 5 ani.

            Ținând cont de aceste obiective, poți estima mai ușor cota de economii lunare. De exemplu, dacă vrei în următorul an să-ți construiești un fond de urgență, pentru o sumă totală de 3000 de lei, ar trebui lunar să pui deoparte 250 de lei.

            Plăceri sănătoase
            Cele 30% rămase reprezintă o sumă fixă, prin urmare este important să o cheltui pe lucrurilecare contează pentru tine . Când decizi ce anume să cumperi, analizează obiectul din perspectiva „cost per fericire sau sănătate”. Poate fi vorba de o nouă plantă pe care o vrei în grădină, un bilet de avion sau o carte.

            În cazul unei haine noi, împarte costul la cât de des planifici să o porți. O rochie de 100 de lei pe care o vei purta o dată poate fi foarte scumpă  față de un sacou de 250 de lei, pe care îl porți cu regularitate  mai mult de doi ani. Aceeași formulă o poți aplica și în cazul cosmeticelor. Dacă o mare parte din buget se duce pe aceste produse, cumpără-ți doar strictul necesar și interesează-te unde ai putea găsi produse similare la un preț mai mic.
          </p>
        </div>
      </div>
      <div class="tab-pane fade" id="area3" role="tabpanel" aria-labelledby="contact-tab">
        <div class="container" >
          <p>
            <h2>Gătește-ți propria mâncare:</h2>
            Această provocare o poți extinde la prânzul de la serviciu, dar și în cazul cinelor. Poți încerca să gătești în weekend sau prânzul de la serviciu îl poți planifica ușor, punând deoparte restul de la cină sau să-ți pregătești dimineața o salată sau un sendviș. Mâncarea gătită acasă nu e doar mai ieftină decât opțiunile din ora sau de de fast food,  și te ajută să economisești o sumă importantă de bani, dar poate fi și mai gustoasă.

            Planifică-ți meniul săptămânal și lista de cumpărături, pentru a-ți eficientiza timpul și drumurile la magazin.
            Aprovizionează-ți cămara cu produse de bază: paste, orez, fasole, linte sau năut, ouă, sos de roșii, diverse legume congelate. Aceste ingrediente pot fi combinate în diverse moduri și te scapă de griji atunci când nu mai știi ce să gătești.
            Fă cumpărăturile online sau trimite pe cineva să cumpere în locul tău. Așa nu vei mai da bani pe cumpărăturile impulsive.
          </p>
          <p>
            <h2>Redu facturile lunare:</h2>
            Pentru această provocare trebuie doar să pui mâna pe telefon și să afli cum îți poți scădea facturile la diverși operatori de servicii. Interesează-te de un abonament mai ieftin la cablu TV sau internet. Fă același lucru și în cazul companiei de telefonie. Treci de la abonament la prepay. Chiar dacă nu poți face aceste schimbări în următoarele zile, vezi care sunt prevederile contractului și analizează ce opțiuni mai ai. Aceste schimbări te vor ajuta să economisești și în următoarele luni.
          </p>
          <p>
            <h2>Postul cheltuielilor dintr-o anumită categorie:</h2>
            Seamănă cu postul alimentar, dar în loc să renunți la anumite alimente, alege una sau două categorii de cumpărături pentru care nu vei cheltui niciun ban în următoarele zile/săptămâni. Poate fi vorba de distracție, haine, cosmetice, bijuterii sau alte categorii unde simți tu că cheltui prea mult. Uneori, aceste interdicții dramatice te pot ajuta să realizezi cât de puțin ai nevoie de acele lucruri, pentru a trăi decent și simplu. Alte exemple din care poți să alegi:

            o categorie în care crezi că vei reuși să nu cheltui
            o categorie unde dai cei mai mulți bani în fiecare lună și vezi dacă te descurci fără să cheltui.
          </p>
          <p>
            <h2>Economisește în plus:</h2>
            Ultima activitate frugală este de a-ți propune să adaugi o sumă în plus în contul de economii și să o lași acolo. Suma pe care o alegi depinde de venitul tău. Poate fi vorba de 50, 100 sau 300 de lei. Acest obicei te poate ajuta să-ți construiești mai repede fondul de urgență. Poți încerca să-ți rotunjești tranzacțiile și să pui restul în contul de economii.
          </p2>
        </div>
      </div>
    </div>
</main>
{% endblock %}


{% block static_files %}
{% endblock %}
