  <div class="container-fluid sticky" style="padding:0px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><img class="logo_img" src="/static/images/logo_transparent.png" alt="logo"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('handle_data') }}">Bank accounts <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('show_calendar') }}">Calendar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('investments') }}">Investments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('learn') }}">Learn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('regular_bills') }}">Regular Bills</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">20%<span class="icon_xxs"><img src="/static/images/good_practices_savings.svg" alt="..."></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">30%<span class="icon_xxs"><img src="/static/images/buget.svg" alt="..."></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">25%<span class="icon_xxs"><img src="/static/images/tabieturi.svg" alt="..."></span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="left: -10vh;">
              <a class="dropdown-item" href="/profile">Profile</a>
              <a class="dropdown-item" href="/achievements">Achievements</a>
              <a class="dropdown-item" href="/">Sign out</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
