{% extends 'layout.html' %}

{% block content %}
        <div class="container-fluid sticky" style="padding:0px;">

            <style>
                .card {
                    max-width: 60%;
                    margin: auto;
                    text-align: center;
                    border-radius: 25px;
                    padding: 2rem 1rem;
                }

                @media all and (max-width: 700px) {
                    .card {
                        max-width: 90%;
                    }
                }
            </style>

        <h2 style="text-align:center">Profile</h2>

        <div class="card">
            <h1><img src="/static/images/anonymous-person.png" width="30px" height="30px" alt="Ion" > Ion Popescu</h1>

            <p class="title">21 ani</p>
        </div>

        <link rel="stylesheet" href="/static/css/master.css">
{% endblock %}
